.header{
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0 30px;
}

.header-log{
  width: 10%;
  height: 10%;
}
.header-nav-ul{
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: 14px;
  width: 100%;
}

.header-nav-li:not(last-child){
  margin-right: 30px;
}

.main{
  position: relative;
 text-align: right;
  width: 100%;
}
.main-img{

  width: 60%;
}
.main-message{
    font-family: 'Caveat Brush', cursive;
        font-size: 50px;
        color: purple;
        letter-spacing: 0.3em;
        line-height: 2em;
        position: absolute;
        top: 20%;
        left: 20%;
}
.main-span{
  color: cornflowerblue;
}
.main-text{
  position: absolute;
  left: 20%;
  top: 50%;
}
.main-tittle{
  font-size: 25px;
  color: purple;
 line-height:50px ;
}
span{
  color: cornflowerblue;
}
.main-p{
  line-height:1.5em;
}

.newa{
  width: 100%;
}
.news-area{

  margin-top:50px ;
  margin-left: 25%;
}
.news-theme{
  font-family: 'Courier New', Courier, monospace;
  color:#74325c ;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0; 
}
.news-tittle{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.news-ul{
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd ;
  }
  .news-li{
    max-width: 500px;
    margin: 15px;
    list-style: none;
    border-bottom:1px solid #ddd;
    padding: 10px;
  }
  .news-span{
    margin: 0 15 0px;
    background-color: #e057ad;
    color: white;
    border-radius: 6px;
  }

  .about{
    background-color: rgba(169, 169, 169, 0.119);
    margin-top: 50px;
  }
  .about-theme{
    font-family: 'Courier New', Courier, monospace;
      color: #74325c;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
  }
  .about-tittle{
    font-weight: bold;
      font-size: 24px;
      margin:20px 0 20px;
      text-align: center;
  }
  .about-box{
    display: flex;
    justify-content: space-around;
  }
  .about-img{
    width: 25%;
    height: 25%;
    margin-bottom: 30px ;
  }
.about-text{
  display: flex;
  line-height: 1.5em;
}
.about-text2{
  margin-top: 20px;
  line-height: 1.5em;
}

.service{
  margin-top: 50px;
  margin-left: 15%;
  width: 100%;
}

.service-thnem{
  font-family: 'Courier New', Courier, monospace;
    color: #74325c;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
  }

.service-tittle{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.service-main{
  width: 75%;
  display: flex;
  background-color: aqua;
}
.service-left{
  background-color: #580339;
  width: 100%;
}
.service-left-img{
  width: 45%;
  height: 45%;
  margin: 10% 25% 0%;
  }
.service-tittle-left{
text-align: center;
color: white;
font-size: 24px;
margin-bottom: 15px;
}
.service-text-left{
  color: white;
  line-height: 1em;
  letter-spacing: 0.3em;
  margin: 0 25px 50px;
  font-size: 15px;
}

.serivce-rihgt1{
  background-color:rgb(207, 36, 136) ;
  display: flex;
  width: 100%;
  height: 50%;
}

.service-right-up-img{
  width: 75%;
  height: 75%;
  margin-top: 10%;
}
.service-tittle-right-up{
  margin-top: 100px;
  margin-bottom: 10px;
  color: white;
}
.service-text-right-up{
  color: white;
  letter-spacing: auto;
  line-height: 3em;
  font-size: 15px;
  

}
.service-right2{
  background-color: #dfabcc;
}
.service-right-down-img{
  width: 50%;
  height: 50%;
}

.service-right2{
  display: flex;
}
.service-tittle-down{
    margin-top: 75px;
      margin-bottom: 10px;
      color: white;
}

.service-text-down{
  color: white;
    letter-spacing: auto;
    line-height: 3em;
    font-size: 15px;
}