.header{
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0 30px;
}

.header-log{
  width: 10%;
  height: 10%;
}
.header-nav-ul{
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: 14px;
  width: 100%;
}

.header-nav-li:not(last-child){
  margin-right: 30px;
}
.main{
  position: relative;
 text-align: right;
  width: 100%;
}
.main-img{

  width: 60%;
}
.main-message{
    font-family: 'Caveat Brush', cursive;
        font-size: 50px;
        color: purple;
        letter-spacing: 0.3em;
        line-height: 2em;
        position: absolute;
        top: 20%;
        left: 20%;
}
.main-span{
  color: cornflowerblue;
}
.main-text{
  position: absolute;
  left: 20%;
  top: 50%;
}
.main-tittle{
  font-size: 25px;
  color: purple;
 line-height:50px ;
}
span{
  color: cornflowerblue;
}
.main-p{
  line-height:1.5em;
}

.newa{
  width: 100%;
}
.news-area{

  margin-top:50px ;
  margin-left: 25%;
}


.news-theme{
  font-family: 'Courier New', Courier, monospace;
  color:#74325c ;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0; 
}
.news-tittle{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.news-ul{
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd ;
  }

  .news-li{
    margin: 15px;
    list-style: none;
    border-bottom:1px solid #ddd;
    padding: 10px;
  }
  .news-span{
    margin: 0 15 0px;
    background-color: #e057ad;
    color: white;
    border-radius: 6px;
  }

  .about{
    background-color: rgba(169, 169, 169, 0.119);
    margin-top: 50px;
  }
  .about-theme{
    font-family: 'Courier New', Courier, monospace;
      color: #74325c;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
  }
  .about-tittle{
    font-weight: bold;
      font-size: 24px;
      margin:20px 0 20px;
      text-align: center;
  }
  .about-box{
    display: flex;
    justify-content: space-around;
  }
  .about-img{
    width: 25%;
    height: 25%;
  }
.about-text{
  display: flex;
  line-height: 1.5em;
}
.about-text2{
  margin-top: 20px;
  line-height: 1.5em;
}

